<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
<html>
   <body class="bg-dark py-5">
       <div class="container px-4 px-lg-5 my-5">
           <div class="text-center text-white">
                <form action = "http://localhost:5000/review" method = "post">
                    {% for name in names %}
                    <h1>Reviews for {{name["NAME"]}}</h1>
                    {% endfor %}

                    {% for review in reviews %}
                        <p>Rating: {{review["RATING"]}}</p>
                        <p>Review: {{review["REVIEW_CONTENT"]}}</p>
                    {% endfor %}

                    
                </form>
                <a style="color: white" href="{{ url_for('home') }}">Return to Home</a>
            </div>
        </div>
      
   </body>
</html>