<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
<html>
   <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
      <h1>Your information:</h1>
      
         <h1>Checkout</h1>
         <p>Name: {{username}}</p>
         <p>Email: {{email}}</p>
         <p>Card Info:</p>
         <p>Card number: {{card}}</p>
         <p>Card expiration date: {{card_exp_date}}</p>
         <p>Billing address: {{billing_addr}}</p>
         <p>Zip code: {{zip_code}}</p>

      <a href="{{ url_for('user_profile') }}">Update your information </a>
      <br>
      <h1>View your Cart:</h1>
      <!-- <h5 class="fw-bolder">{{cart[0]}}</h5> -->
      <form action = "http://localhost:5000/checkout" method = "post">
         {%for cartItem in cart%}
         <img  src="{{cartItem[5]}}" alt="Picture of Movie" width = "80px" height = "100px"/>
         <h1>{{cartItem[1]}} ({{cartItem[2]}})</h1>
         <h3>${{cartItem[4]}}</h3>
         <h3>------------------------------------</h3>
         {%endfor%}
         
         
         <button class="btn btn-outline-dark">
            <l class="nav-item"><a class="nav-link active" href="{{ url_for('transaction') }}">Checkout</a></li>
            <!-- <i class="bi-cart-fill me-1"></i> -->
        </button>
      </form>
      <p><a href="{{ url_for('home') }}">Return to Home</a></p>
   </div>
</div>
</header>
</html>