<html>
   <body>
      <form action = "http://localhost:5000/review" method = "post">
         <h1>Reviews</h1>
         
         <select name="selectedMovie" id="selectedMovie">
            <optgroup>
              {% for movie in movies %}
               <option value='{{movie["MOVIE_ID"]}}'>{{movie["NAME"]}}</option>
              {% endfor %}
            </optgroup>
         </select>
         
         <p>Enter review:</p>
         <p><input type = "text" name = "review_content" /></p>
         <p>Enter rating:</p>
         <p><input type = "text" name = "rating" /></p>
         <p><input type = "submit" value = "submit" /></p>
        <!---- <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('review',title=title) }}">Add to Wishlist</a></div>-->
      </form>
      <a href="{{ url_for('home') }}">Return to Home</a>
   </body>
</html>