<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
<html>
   <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
      <h2>{{msg}}</h2>
      <h1>Items Purchased: </h1>
      {%for cartItem in cart%}
      <h1>{{cartItem[3]}} </h1>
      <h3>Purchased for ${{cartItem[4]}}</h3>
      <h3>------------------------------------</h3>
      {%endfor%}
      
      <a href="{{ url_for('home') }}">Return to User Home</a>
   </div>
</div>
</header>
</html>