<html>
   <body>
      <h2>{{msg}}</h2>
      <h1>Items Purchased: </h1>
      <h1>{{cart[0][1]}} {{cart[0][2]}}</h1>
         <h3>{{cart[0][4]}}</h3>
         <h1>{{cart[1][1]}} {{cart[1][2]}}</h1>
         <h3>{{cart[1][4]}}</h3>
         <h1>{{cart[2][1]}} {{cart[2][2]}}</h1>
         <h3>{{cart[2][4]}}</h3>
         <h1>{{cart[3][1]}} {{cart[3][2]}}</h1>
         <h3>{{cart[3][4]}}</h3>
         <h1>{{cart[4][1]}} {{cart[4][2]}}</h1>
         <h3>{{cart[4][4]}}</h3>
         <h1>{{cart[5][1]}} {{cart[5][2]}}</h1>
         <h3>{{cart[5][4]}}</h3>
         <h1>{{cart[6][1]}} {{cart[6][2]}}</h1>
         <h3>{{cart[6][4]}}</h3>
         <h1>{{cart[7][1]}} {{cart[7][2]}}</h1>
         <h3>{{cart[7][4]}}</h3>
      
      <a href="{{ url_for('home') }}">Return to User Home</a>
   </body>
</html>