<html>
   <body>
      <h2></h2>
      <form action = "http://localhost:5000/wishlist" method = "post">
         <h1>Wishlist</h1>
         {% for i in range(0, len) %}
            <p>{{movienames[i]}}</p>
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ url_for('deleteFromWishlist',wish_id=rows[i]['WISHLIST_ID'],movie=rows[i]['MOVIE_ID'] ) }}">Remove</a></div>
         {% endfor %}
      </form>
      <a href="{{ url_for('home') }}">Return to Home</a>
   </body>
</html>